:root {
	--font-family-base: 'Roboto', sans-serif;

	--transition-duration: 0.2s;
	--transition-duration-long: 0.4s;

	--container-width: 1020px;
	--container-padding-x: 16px;

	--border-line: 2px solid;
}
